In [140]:
import pandas as pd
from datetime import datetime
import numpy as np
from sqlalchemy import create_engine

# CONFIGURATION

In [141]:
CSV_FILE = "../data/sales_2.csv"

In [ ]:
MYSQL_USER = "username"
MYSQL_PASSWORD = "<pass>"
MYSQL_HOST = "localhost"
MYSQL_PORT = "3306"  #local hostport for mysql
MYSQL_DATABASE = "sales_db"

TARGET_TABLE = "etl_transformed_sales" #name of table once we update

In [164]:
import urllib.parse
from sqlalchemy import create_engine

MYSQL_USER = "username"
MYSQL_PASSWORD = "<pass>"   # your exact password
MYSQL_HOST = "localhost"
MYSQL_PORT = "3306"
MYSQL_DATABASE = "sales_db"

# Encode password because of @
MYSQL_PASSWORD = urllib.parse.quote_plus(MYSQL_PASSWORD)

conn_str = (
    f"mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOST}:{MYSQL_PORT}/{MYSQL_DATABASE}"
)

engine = create_engine(conn_str)

## Database Connection

In [165]:
# SQLAlchemy connection string
conn_str = (
    f"mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}@{MYSQL_HOST}:{MYSQL_PORT}/{MYSQL_DATABASE}"
)

In [166]:
conn_str

'mysql+pymysql://username:%3Cpass%3E@localhost:3306/sales_db'

In [161]:
# Create SQLAlchemy engine
engine = create_engine(conn_str)

### STEP 1: READ CSV FILE (Extract)

In [146]:
try:
    df = pd.read_csv(CSV_FILE)
    print(f"Data extracted from {CSV_FILE}, shape = {df.shape}")
    display(df.head())
except Exception as e:
    print(f"Error reading CSV: {e}")
    raise

Data extracted from ../data/sales_2.csv, shape = (10, 7)

,OrderId,Product,Category,SalesAmount,OrderDate,Region,CustomerName
0,1011,Monitor Stand,Furniture,55.00,2025-01-11,West,Kyle Reese
1,1012,Noise Cancelling Buds,Electronics,180.00,2025-01-11,East,Laura Croft
2,1013,Air Fryer Large,Home Goods,110.00,2025-01-12,Central,Michael Scott
3,1014,Ergonomic Mousepad,Electronics,15.99,2025-01-12,South,Nancy Drew
4,1015,4-Port USB Hub,Electronics,35.00,2025-01-13,East,Oliver Queen

## STEP 2: TRANSFORMATIONS (Transform)

In [147]:
# Clean column names
df.columns = (
    df.columns
      .str.replace(' ', '_')
      .str.replace(r'([A-Z])', r'_\1', regex=True)
      .str.lower()
      .str.strip('_')
)

In [148]:
# Convert order_date → datetime64
df["order_date"] = pd.to_datetime(df["order_date"])

In [149]:
# numeric conversion
df["sales_amount"] = pd.to_numeric(df["sales_amount"])

In [150]:
# Derived field
df["unit_price"] = df["sales_amount"]

In [151]:
# Categorical tier
conditions = [
    df["sales_amount"] >= 500,
    df["sales_amount"] >= 100
]
choices = ["High Value", "Medium Value"]

df["sales_tier"] = np.select(conditions, choices, default="Low Value")

In [152]:
df

,order_id,product,category,sales_amount,order_date,region,customer_name,unit_price,sales_tier
0,1011,Monitor Stand,Furniture,55.00,2025-01-11,West,Kyle Reese,55.00,Low Value
1,1012,Noise Cancelling Buds,Electronics,180.00,2025-01-11,East,Laura Croft,180.00,Medium Value
2,1013,Air Fryer Large,Home Goods,110.00,2025-01-12,Central,Michael Scott,110.00,Medium Value
3,1014,Ergonomic Mousepad,Electronics,15.99,2025-01-12,South,Nancy Drew,15.99,Low Value
4,1015,4-Port USB Hub,Electronics,35.00,2025-01-13,East,Oliver Queen,35.00,Low Value
5,1016,Gaming Mouse Pro,Electronics,85.00,2025-01-13,West,Pam Beesly,85.00,Low Value
6,1017,Smart Watch Series 5,Electronics,299.99,2025-01-14,Central,Quentin Tarantino,299.99,Medium Value
7,1018,Small Blender,Home Goods,49.99,2025-01-14,South,Rachel Green,49.99,Low Value
8,1019,Desk Organizer,Furniture,25.00,2025-01-15,East,Steve Rogers,25.00,Low Value
9,1020,3D Printer Starter,Electronics,950.00,2025-01-15,West,Tony Stark,950.00,High Value

In [153]:
# Filter out non-positive values
df = df[df["sales_amount"] > 0]

In [154]:
# Add load timestamp
df["load_timestamp"] = pd.to_datetime(datetime.utcnow())

C:\Users\gouse\AppData\Local\Temp\ipykernel_28688\3865706313.py:2: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  df["load_timestamp"] = pd.to_datetime(datetime.utcnow())

In [155]:
print("Transformations complete.")
display(df.head())

Transformations complete.

,order_id,product,category,sales_amount,order_date,region,customer_name,unit_price,sales_tier,load_timestamp
0,1011,Monitor Stand,Furniture,55.00,2025-01-11,West,Kyle Reese,55.00,Low Value,2026-02-23 11:20:30.743366
1,1012,Noise Cancelling Buds,Electronics,180.00,2025-01-11,East,Laura Croft,180.00,Medium Value,2026-02-23 11:20:30.743366
2,1013,Air Fryer Large,Home Goods,110.00,2025-01-12,Central,Michael Scott,110.00,Medium Value,2026-02-23 11:20:30.743366
3,1014,Ergonomic Mousepad,Electronics,15.99,2025-01-12,South,Nancy Drew,15.99,Low Value,2026-02-23 11:20:30.743366
4,1015,4-Port USB Hub,Electronics,35.00,2025-01-13,East,Oliver Queen,35.00,Low Value,2026-02-23 11:20:30.743366

## STEP 3: LOAD INTO MYSQL (Load)

In [ ]:
try:
    with engine.connect() as conn:
        print("Connected to MySQL successfully!")
except Exception as e:
    print("Connection failed:", e)

✅ Connected to MySQL successfully!

In [163]:
try:
    df.to_sql(
        name=TARGET_TABLE,
        con=engine,
        if_exists="append",
        index=False,
        chunksize=1000
    )

    print(f"Data successfully loaded into MySQL table: {TARGET_TABLE}")

except Exception as e:
    print(f"Error loading to MySQL: {e}")

Data successfully loaded into MySQL table: etl_transformed_sales